/* src/styles.css */
body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}

section {
    padding: 4rem;
    text-align: center;
}

.welcome-section {
    /*background: url('/path/to/image.jpg') no-repeat center center;*/
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.carousel {
    background-color: #f0f0f0;
    height: 300px;
    margin-bottom: 2rem;
}

/* src/styles.css */
.section {
    padding: 5rem 2rem;
    background-color: white;
    color: #333;
}

.section-title {
    font-size: 2.5rem;
    color: var(--light-blue);
    text-align: center;
    margin-bottom: 3rem;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.project-title, .art-title {
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.project-title:hover, .art-title:hover {
    color: var(--light-blue); /* Light blue hover */
}

