.about-section {
    padding: 1rem 2.5rem 1rem 2.5rem;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 2px;
    margin: 0 auto;   
    text-align: left;
    scroll-margin-top: 100px;
}

.about-section h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f39c12;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
