.art-section {
    text-align: center;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #111;
    margin: 2rem;
    border-radius: 2px;
}

.section-title {
    font-size: 2.5rem;
    color: #f9f9f9;
    margin-bottom: 2rem;
}

.art-gallery {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
}

.art-piece {
    width: 30%;
    transition: transform 0.3s ease;
}

.art-piece img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.art-piece:hover {
    transform: scale(1.05);
}

.instagram-link {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #f9f9f9;
}

.instagram-link a {
    color: #f39c12;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.3rem;
}

.instagram-link a:hover {
    color: #d35400;
}

.instagram-link i {
    margin-left: 0.5rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .art-piece {
        width: 45%; /* Make pieces wider on tablets */
    }
}

@media (max-width: 480px) {
    .art-piece {
        width: 90%; /* Make pieces full width on mobile */
    }

    .section-title {
        font-size: 2rem; /* Adjust title size on small screens */
    }

    .instagram-link {
        font-size: 1rem; /* Adjust Instagram link size on small screens */
    }
}
