.experience-section {
    margin: 3rem 0;
    padding: 1.5rem;
    background-color: #f9f9f9; /* Light background for contrast */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 5px;
    scroll-margin-top: 100px;
}

.experience-section h2 {
    margin-top: 10px;
    color: #333;
    font-size: 2.5rem; /* Larger title */
    margin-bottom: 1.5rem;
    text-align: center; /* Centered title */
}

.experience-section h3 {
    margin-top: 0;
    margin-bottom: 0;
}


.experience-list {
    list-style-type: none;
    padding: 0;
}

.experience-item {
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white; /* White background for items */
}

.experience-item:hover {
    transform: translateY(-2px); /* Slight lift on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* More prominent shadow */
}

.experience-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem; /* Space below the title */
}

.title-link {
    color: #f39c12; /* Orange color for links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold link text */
}

.title-link:hover {
    cursor: pointer;
}

.experience-date {
    font-style: italic;
    color: #666;
}

.experience-company {
    font-weight: bold;
    font-size: 1.2rem; /* Slightly larger company name */
    display: block;
    margin-bottom: 0.25rem; /* Space below company name */
}

.experience-tech {
    color: #f39c12; /* Orange color for tech stack */
    font-weight: 600; /* Semi-bold tech stack */
}

.experience-description {
    list-style-type: disc;
    padding-left: 20px; /* Indentation for description */
    color: #444; /* Darker text for description */
    margin-top: 0.5rem; /* Space above the description */
}

.experience-description li {
    margin-bottom: 0.5rem; /* Space between list items */
}
