.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f8ff;
    color: #333;
}

.main h1 {
    font-size: 4rem;
    font-weight: 700;
}

.main p {
    font-size: 1.5rem;
    color: #666;
    margin-top: 1rem;
}

.all-container {
    background-color: #111;
}

.main-container {
    max-width: 55%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .main h1 {
        font-size: 3.5rem;
    }

    .main p {
        font-size: 1.25rem;
    }

    .main-container {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .main h1 {
        font-size: 3rem;
    }

    .main p {
        font-size: 1.1rem;
    }

    .main-container {
        max-width: 90%;
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .main h1 {
        font-size: 2.5rem;
    }

    .main p {
        font-size: 1rem;
    }

    .main-container {
        max-width: 95%;
        padding: 0.5rem;
    }
}
