/* src/components/Main.css */
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f8ff; /* Soft blue background */
    color: #333; /* Dark text for contrast */
}

.main h1 {
    font-size: 4rem;
    font-weight: 700;
}

.main p {
    font-size: 1.5rem;
    color: #666; /* Slightly muted color for subtext */
    margin-top: 1rem;
}

.main-container {
    max-width: 55%; /* Maximum width of the container */
    margin: 0 auto; /* Center horizontally */
    padding: 1.5rem; /* Add some padding */
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .main h1 {
        font-size: 3.5rem; /* Smaller font size on medium screens */
    }

    .main p {
        font-size: 1.25rem; /* Smaller subtext */
    }

    .main-container {
        max-width: 80%; /* Increase container width on medium screens */
    }
}

@media (max-width: 768px) {
    .main h1 {
        font-size: 3rem; /* Smaller font size on small screens */
    }

    .main p {
        font-size: 1.1rem; /* Further decrease subtext size */
    }

    .main-container {
        max-width: 90%; /* Increase container width on small screens */
        padding: 1rem; /* Reduce padding */
    }
}

@media (max-width: 480px) {
    .main h1 {
        font-size: 2.5rem; /* Even smaller font size on extra small screens */
    }

    .main p {
        font-size: 1rem; /* Smallest subtext size */
    }

    .main-container {
        max-width: 95%; /* Increase container width for very small screens */
        padding: 0.5rem; /* Further reduce padding */
    }
}
